$icomoon-font-path: "../fonts" !default;

$icon-caret-right: "\e92f";
$icon-caret-left: "\e931";
$icon-caret-up: "\e932";
$icon-caret-down: "\e933";
$icon-trash: "\e92e";
$icon-strikethrough: "\e926";
$icon-keyboard: "\e918";
$icon-calculator: "\e919";
$icon-life-bouy: "\e91b";
$icon-life-buoy: "\e91b";
$icon-life-ring: "\e91b";
$icon-life-saver: "\e91b";
$icon-support: "\e91b";
$icon-external-link: "\e91c";
$icon-chain-broken: "\e91d";
$icon-unlink: "\e91d";
$icon-chain: "\e91f";
$icon-link: "\e91f";
$icon-clipboard: "\e921";
$icon-paste: "\e921";
$icon-italic: "\e922";
$icon-underline: "\e923";
$icon-bold: "\e924";
$icon-edit: "\e925";
$icon-pencil-square-o: "\e925";
$icon-header: "\e900";
$icon-formula: "\e92a";
$icon-function: "\e92a";
$icon-fn-x: "\e92a";
$icon-fnx: "\e92a";
$icon-document-add: "\e905";
$icon-document-add-alt: "\e906";
$icon-person-pin: "\e909";
$icon-person-add: "\e90a";
$icon-person: "\e90b";
$icon-format-color-text: "\e90c";
$icon-format-color-fill: "\e910";
$icon-palette: "\e914";
$icon-live-help: "\e916";
$icon-help: "\e916";
$icon-copyright: "\e917";
$icon-envelope: "\e901";
$icon-mail: "\e901";
$icon-email: "\e901";
$icon-contact: "\e901";
$icon-horizontal-rule: "\e902";
$icon-home-alt: "\e903";
$icon-newspaper2: "\e904";
$icon-quill: "\e907";
$icon-pen: "\e908";
$icon-image: "\e90d";
$icon-picture: "\e90d";
$icon-images: "\e90e";
$icon-pictures: "\e90e";
$icon-camera: "\e90f";
$icon-music: "\e911";
$icon-play: "\e912";
$icon-film: "\e913";
$icon-movie: "\e913";
$icon-dice: "\e915";
$icon-bullhorn: "\e91a";
$icon-announcement: "\e91a";
$icon-mic: "\e91e";
$icon-voice: "\e91e";
$icon-books: "\e920";
$icon-library: "\e920";
$icon-file-picture: "\e927";
$icon-file-music: "\e928";
$icon-file-play: "\e929";
$icon-file-zip: "\e92b";
$icon-copy: "\e92c";
$icon-paste-alt: "\e92d";
$icon-folder-open: "\e930";
$icon-qrcode: "\e938";
$icon-address-book: "\e944";
$icon-location: "\e947";
$icon-location-alt: "\e948";
$icon-alarm: "\e950";
$icon-calendar: "\e953";
$icon-printer: "\e954";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-undo-alt: "\e967";
$icon-bubbles: "\e96c";
$icon-quotes-left: "\e977";
$icon-spinner-alt: "\e97b";
$icon-spinner-alt-2: "\e97c";
$icon-spinner: "\e97e";
$icon-search: "\e986";
$icon-key: "\e98d";
$icon-lock: "\e98f";
$icon-locked: "\e98f";
$icon-unlock: "\e990";
$icon-unlocked: "\e990";
$icon-magic-wand: "\e997";
$icon-bug: "\e999";
$icon-stats-dots: "\e99b";
$icon-bin: "\e9ac";
$icon-list-numbered: "\e9b9";
$icon-list-bulletted: "\e9bb";
$icon-tree: "\e9bc";
$icon-node: "\e9bc";
$icon-cloud-download: "\e9c2";
$icon-cloud-upload: "\e9c3";
$icon-cloud-check: "\e9c4";
$icon-download: "\e9c7";
$icon-upload: "\e9c8";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark-alt: "\ea11";
$icon-spell-check: "\ea12";
$icon-loop: "\ea2e";
$icon-circle-up: "\ea41";
$icon-circle-right: "\ea42";
$icon-circle-down: "\ea43";
$icon-circle-left: "\ea44";
$icon-sort-alpha-asc: "\ea48";
$icon-sort-alpha-desc: "\ea49";
$icon-sort-numeric-asc: "\ea4a";
$icon-sort-numberic-desc: "\ea4b";
$icon-sort-amount-asc: "\ea4c";
$icon-sort-amount-desc: "\ea4d";
$icon-scissors: "\ea5a";
$icon-bold-alt: "\ea62";
$icon-underline-alt: "\ea63";
$icon-italic-alt: "\ea64";
$icon-strikethrough-alt: "\ea65";
$icon-omega: "\ea66";
$icon-sigma: "\ea67";
$icon-superscript: "\ea69";
$icon-subscript: "\ea6a";
$icon-clear-formatting: "\ea6f";
$icon-table: "\ea71";
$icon-pilcrow: "\ea73";
$icon-paragraph: "\ea73";
$icon-ltr: "\ea74";
$icon-rtl: "\ea75";
$icon-section: "\ea76";
$icon-paragraph-left: "\ea77";
$icon-paragraph-center: "\ea78";
$icon-paragraph-right: "\ea79";
$icon-paragraph-justify: "\ea7a";
$icon-indent-increase: "\ea7b";
$icon-indent-decrease: "\ea7c";
$icon-embed: "\ea7f";
$icon-embed-alt: "\ea80";
$icon-terminal: "\ea81";
$icon-file-pdf: "\eadf";
$icon-newspaper: "\e934";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";

