h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    letter-spacing: $letter-spacing;
    font-family: $heading-font-family;
}

p, .p {
    font-size: $font-size-base;
}

h1, .h1 {
    font-size: $font-size-h1;
    // font-weight: $font-weight-black;
}

h2, .h2 {
    font-size: $font-size-h2;
    // font-weight: $font-weight-heavy;
}

h3, .h3 {
    font-size: $font-size-h3;
    // font-weight: $font-weight-bolder;
}

h4, .h4 {
    font-size: $font-size-h4;
}

h5, .h5 {
    font-size: $font-size-h5;
}

h6, .h6 {
    font-size: $font-size-h6;
}

.p {
    font-size: $font-size-base;
}

.pre {
    font-size: $font-size-base;
    font-family: monospace;
}

.text-white p {
    color: $light-color;
}